<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 rescap">

  <Identity Name="com.companyname.salmonegg"
            Publisher="CN=SalmonEgg"
            Version="1.0.0.0" />
  <Properties>
    <DisplayName>SalmonEgg</DisplayName>
    <PublisherDisplayName>SalmonEgg</PublisherDisplayName>
    <Logo>Assets\Icons\iconLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <!-- Use Uno.Resizetizer-generated assets (from Assets/Icons/icon.svg) to avoid stale AppIcon.* files. -->
      <uap:VisualElements Square44x44Logo="Assets\Icons\iconLogo.png"
                          Square150x150Logo="Assets\Icons\iconLogo.png"
                          DisplayName="Salmon Egg"
                          Description="AI Agent"
                          BackgroundColor="transparent">
        <uap:DefaultTile/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="portraitFlipped"/>
          <uap:Rotation Preference="landscapeFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements >
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="s8p">
            <uap:Logo>Assets\Icons\iconLogo.png</uap:Logo>
            <uap:DisplayName>Salmon Egg</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask TaskId="SalmonEggStartup"
                            Enabled="false"
                            DisplayName="Salmon Egg"/>
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
