<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="uno-toolkit-theme-listener" value="tools/vendor/uno-toolkit-theme-listener" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="uno-toolkit-theme-listener">
      <package pattern="Uno.CommunityToolkit.Common" />
      <package pattern="Uno.CommunityToolkit.WinUI" />
      <package pattern="Uno.CommunityToolkit.WinUI.UI" />
    </packageSource>
  </packageSourceMapping>
</configuration>
